{% extends 'base.html.twig' %}

{% block title %} 
    {{ title }} 
{% endblock %}

{% block body %}
    <div class="container pt-2 pb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <h1 class="d-flex justify-content-center mt-5 mb-3"> {{ title }} </h1>
                {{ form(form) }}
                <a href=" {{ path('SocioController') }} " class="btn btn-primary">Lista</a>
            </div>
        </div>
    </div>
{% endblock %}
